<?xml version="1.0"?>
<launch>

  #>>>>TODO: LAUNCH A NODE TO PUBLISH AN STATIC TRANSFORMATION BETWEEN /map and /WORLD WITH A FREQ 100
  <node pkg="tf" type="static_transform_publisher" name="tf_broadcast" args="0 0 0 0 0 0 /map /world  100"/>
  <!--LAUNCH RVIZ NODE -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtle_vis)/launch/rvizConfigs/turtleTutorial.rviz"/>
  
  <!--#>>>>TODO:LAUNCH TURTLE VISUALIZATION NODE-->
  <node name="turtle_visualization" pkg="turtle_vis" type="turtle_visualization" output="screen"/>
  <!--#>>>>TODO:LAUNCH TURTLE CONTROL NODE. AS PART OF THIS NODE LOAD THE YAML FILE WITH THE GAIN PARAMETERS (SEE rvizConfigs/turtle_gains.yaml)-->
  <node name="turtle_control" pkg="turtle_vis" type="turtle_control" output="screen">
  <rosparam command="load" file ="$(find turtle_vis)/launch/rvizConfigs/turtle_gains.yaml" />
  </node>

</launch>
