<?xml version="1.0"?>

<launch>

  <!-- The config.yaml file for the controller must be loaded before calling the controller spawner.
       It is a good practice to name it the same as the launch file -->
  
  <rosparam command="load" file="$(find controllers_tutorials)/config/new_torso_controller.yaml"/>

  <!-- When calling the controller spawner, the name parameter is for the node being launched, so it can be any.
       "pkg", "type" and "output" parameters are recomended to stay as this example. 
       Finally "args" parameter is the name of the controller displayed on the controller manager list. 
       "args" must match the name stated on the config.yaml file.   -->

  <node name="new_torso_controller_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="new_torso_controller"/>
        
</launch>

